*~
.#*
.mc-lists.el
.python-environments/
ac-comphist.dat
auto-save-list/
bookmarks
custom.el
diary
excorporate/
history
ido.last
local.el
network-security.data
places
recentf
request/
settings.el
tramp
transient/
url/
*.cache
